/* MAPA DE COLORES */

$colores: (
    negro: #000000,
    blanco-f: #ffffff,
    blanco: #e7e7e7,
    gris: #0009,
    rojo-oscuro: #7d1c0d,
    terracota: #df9b71,
    terracota-2 : #d37f53,
    madera: #9d783b,
    verde-1: #356b4f,
    verde-2 : #225239,
    verde-3: #113a26,
    verde-4: #6e9607,
    verde-claro: #D4ECDD,
    celeste: #87A8A4,
    celeste-2: rgb(181, 212, 209)
); 

$negro: map-get($colores, negro);
$blanco: map-get($colores, blanco);
$blanco-f: map-get($colores, blanco-f);
$gris: map-get($colores, gris);
$rojo-oscuro: map-get($colores, rojo-oscuro);
$terracota: map-get($colores, terracota);
$terracota-2: map-get($colores, terracota-2);
$madera: map-get($colores, madera);
$verde-1: map-get($colores, verde-1);
$verde-2: map-get($colores, verde-2);
$verde-3: map-get($colores, verde-3);
$verde-4: map-get($colores, verde-4);
$verde-claro: map-get($colores, verde-claro);
$celeste: map-get($colores, celeste);
$celeste-2: map-get($colores, celeste-2);