@font-face {
    font-family: 'ONEDAY';
    src: url(../assets/fonts/ONEDAY.otf);
}

@font-face {
    font-family: 'ailerons';
    src: url(../assets/fonts/ailerons.otf);
}

@font-face {
    font-family: 'blanka';
    src: url(../assets/fonts/Blanka-Regular.otf);
}

@font-face {
    font-family: 'lato';
    src: url(../assets/fonts/Lato/Lato-Regular.ttf);
}

$fuente-general: 'Hahmlet';
$fuente-blanka: 'blanka';
$fuente-oneday: 'ONEDAY';
$fuente-ailerons: 'ailerons';
$fuente-lato: 'lato';
