/* ESTILOS GENERALES */

/* CSS GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: $fuente-lato;
    background-color: $blanco;

    /* CSS BOOTSTRAP */

    .navbar-toggler-icon {
        width: 3rem;
        height: 3rem;
    }

    .col-xs-6 {
        width: auto;
    }

    .container-fluid {
        padding: 0;
        margin: 0;
    }

    .row {
        margin: 0;
        padding: 0;
    }

    /* ESTILOS GENERALES HEADER */

    .cabecera {
        display: flex;
        justify-content: space-between;
        background-color: $blanco-f;
        position: sticky;
        height: 82px;
        z-index: 100;
        top: 0;
        right: 0;
        opacity: .95;

        .cabecera__nav {
            display: flex;
            justify-content: flex-end;
        }

        .cabecera__logo {
            width: 95px;
            height: 95px;
        }

        .cabecera__logo:hover {
            opacity: .8;
        }

        .cabecera__logo:active {
            transform: translateY(6px);
            transition: all .3s;
        }
    }

    /* ESTILOS GENERALES NAVEGACIÓN */

    .nav__lista {
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        align-items: center;

        .dropdown {
            display: flex;
            .servicios--style {
                color: $gris;
                padding: 5px;
                font-size: 1.25rem;
                font-weight: 700;
                text-decoration: none;
                text-transform: uppercase;
            }
            .servicios--style:hover {
                color: $negro;
            }
            .btn-secondary {
                background: none;
                border: none;
                color: #000000;
                opacity: .55;
                padding: 0 .4rem;
                font-size: 1.3rem;
                font-weight: 500;
                text-align: center;
                text-decoration: none;
                text-transform: uppercase;
            }
            .btn-secondary:hover {
                background-color: $gris;
                color: $negro;
            }
        }
    
        .dropdown-item {
            font-size: 1.45rem;
        }

        .lista__item {
            list-style-type: none;
            margin: 0 1.6rem;
        }

        .lista__item--margin {
            margin: 0;
        }

        .lista__item:active {
            transform: translateY(6px);
            transition: all .4s;
        }

        .lista__item a {
            color: $gris;
            padding: 5px;
            font-size: 1.25rem;
            font-weight: 600;
            text-decoration: none;
            text-transform: uppercase;
        }

        .lista__item a:hover {
            color: $negro !important;
            border-bottom: 1.6px solid $negro;
        }

        #seccionActiva {
            color: $negro;
            opacity: 1;
        }
    }

    /* ESTILOS GENERALES FOOTER */

    .footer__principal {
        display: flex;
        justify-content: space-around;
        margin-top: 10rem;
        background: linear-gradient(to right,  $verde-gris, $verde-gris);
        border-top: 3px solid $negro;

        .info__page {
            display: flex;

            .info__titulo {
                color: $negro;
                font-size: 2rem;
                text-decoration: underline;
            }

            .info__productos {
                margin: 1rem 2rem;
                font-family: 'poppins';

                .productos__lista {
                    list-style-type: none;
                    .lista__item a {
                        color: $negro;
                        opacity: .55;
                        text-decoration: none;
                        font-size: 1.45rem;
                    }
                    .lista__item a:hover {
                        opacity: 1;
                    }
                }
            }

            .info__servicios {
                margin: 1rem 2rem;
                font-family: 'poppins';

                .servicios__lista {
                    list-style-type: none;
                    .lista__item a {
                        color: $negro;
                        opacity: .55;
                        text-decoration: none;
                        font-size: 1.45rem;
                    }
                    .lista__item a:hover {
                        opacity: 1;
                    }
                }
            }
        }
    }

    .redes {
        width: 40%;
        margin: 1rem;
        .redes__container--padding {
            padding: 0;

            .titulo__h3 {
                display: flex;
                justify-content: center;
                font-family: 'poppins';
                margin: 0 3rem;
                color: $negro;
                font-size: 1.65rem;
                text-decoration: underline;
            }
        }

        .redes__lista {
            display: flex;
            justify-content: space-evenly;
            margin-top: 1rem;

            $redes: (wsp: #00bb2d,
                    fb: #3b5998,
                    is: #c13584,
                    msg: #0078ff,
                );

            @each $site,
            $color in $redes {
                .#{$site} i:hover {
                    color: $color;
                }
            }

            .redes__icon {
                transition: 1s;
                margin: 2rem 1rem 0 1rem;
                color: $negro;
                font-size: 3.5rem;
                text-decoration: none;
            }

            .redes__icon:hover {
                transform: rotate(360deg);
            }
        }

    }

    .marca {
        margin: 0;
        padding: 0;

        .marca__contenedor--padding {
            padding: 0;
        }

        .marca__titulo--gradient {
            background: linear-gradient(to right,  $verde-gris, $verde-gris);
        }

        .marca__titulo {
            display: block;
            text-align: center;
            font-family: 'ONEDAY';
            font-size: 1.8rem;
            padding-bottom: 1.5rem;
            margin: 0;
            color: $negro;
            word-spacing: 5px;

            .marca__enlace {
                font-family: 'ailerons';
                font-size: 2.6rem;
                color: $negro;
                padding: 0;
                opacity: .5;
            }

            .marca__enlace:hover {
                opacity: 1;
            }

            .marca__copy {
                position: absolute;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                font-size: 1.6rem;
            }
        }
    }
}