/* ESTILOS PAGES */

/* ESTILOS INDEX */

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $completo;
    padding: 0;
    margin-bottom: 3rem;

    .titulo__banner {
        position: absolute;
        text-align: center;
        background-color: #949A88;
        opacity: .85;
        color: $blanco-f;
        font-family: 'lato';
        font-size: 6rem;
        padding: 0 1rem;
    }

    .banner__imagen {
        width: $completo;
        min-height: 87vh;
        object-fit: cover;
    }
}

.carousel {
    width: 100%;

    .carousel-item {
        width: 100%;
        height: 80vh;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.titulo {
    text-align: center;
    margin-top: 4rem;
    margin-bottom: 3rem;

    .titulo__h1,
    .titulo__h2 {
        font-size: 3.8rem;
        color: $negro;
        font-weight: 600;
        letter-spacing: .5rem;
        text-align: center;
        text-transform: capitalize;
        border-bottom: 4px solid $terracota;
    }
}

#noticias {
    padding: 0 6rem;

    .noticias__titulo {
        text-align: center;
        margin: 4rem;
        color: $blanco-f;
        background-color: $verde-2;
    
        .noticias__titulo--style {
            display: inline-block;
            font-size: 2.8rem;
            word-spacing: .6rem;
            text-align: center;
            text-transform: capitalize;
            padding: 0.7rem 3rem;
        }
    }

    .seccion__parrafo {
        display: flex;
        align-items: center;
    
        .seccion__parrafo--style {
            font-size: 2rem;
            font-weight: 500;
            text-align: justify;
            line-height: 4.5rem;
            padding: 0 4rem;
        }
    }
    
    .seccion__imagen {
        display: flex;
        justify-content: center;
        height: $h-250 + 100px;
        padding: 3rem;
    
        .seccion__imagen--style {
            width: $completo - 10%;
            height: $completo;
            object-fit: cover;
            outline: 3.5px solid $gris;
        }
    }
}



/* ESTILOS PRODUCTOS */

.titulo__h1--padding {
    padding-top: 4rem;
}

.btn-group {
    display: block;
}

.btn-secondary:hover {
    background-color: $verde-1;
    border: none;
}

.filtros {
    margin: 0 1.6rem;

    &__container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: $verde-2;
        margin: 2rem 0 5rem 0;
        padding: .65rem;

        .filtros__dropdown {

            #btnGroupDrop1 {
                color: $blanco;
                opacity: .75;
            }

            .dropdown-menu {
                background-color: $verde-2
            }

            .dropdown-item {
                color: $blanco;
            }

            .dropdown-item:hover {
                background-color: $verde-2;
                opacity: .75;
            }
        }

        .filtros__secciones {
            display: flex;
            flex-basis: $medio;
            justify-content: space-between;

            .filtros__botones {
                color: $blanco;
                opacity: 1;
                text-decoration: underline;
            }
        }

        .filtros__total {
            display: flex;
            align-items: center;
        }

        .total--color {
            margin: 0 .5rem 0 0;
            color: $blanco;
        }

    }
}

.producto__container {
    padding: 0 8rem;

    .producto {
        margin-bottom: 2rem;

        .producto__imagen {
            height: $h-250 - 70px;
            object-fit: cover;
        }

        .producto__titulo {
            margin-top: 1rem;
            font-size: 2rem;
            text-decoration: underline;
            color: $verde-3;
        }

        .producto__enlace {
            text-align: center;
        }

        .producto__icon {
            text-align: center;
            color: $verde-2;
            font-size: 2rem;
            padding: 5px;
        }

        .producto__icon:hover {
            color: $blanco;
            background-color: $verde-2;
            transition: all 1s;
        }

        .precio__container {
            display: flex;
            justify-content: space-around;
            margin: 2rem 0;

            .precio {
                margin: 5px;
                font-size: 1.4rem;
            }
        }

        .producto__inferior {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: $h-250 - 70px;

            .titulo {
                margin: 0;

                .producto__titulo {
                    margin: 0;
                    font-weight: bolder;
                    font-size: 2.2rem;
                }
            }
        }
    }
}

.texto__carrito {
    margin-left: .5rem;
}

/* ESTILOS SERVICIOS */

.servicios__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.servicios__subtitulo {
    margin: 3rem;

    .subtitulo__h3 {
        font-size: 2.2rem;
    }
}

.imagen--style {
    width: $completo;
    height: $h-250 + 100px;
    object-fit: cover;
    outline: 3.5px solid $terracota;

    &:hover {
        outline: 3.5px solid $rojo-oscuro;
        opacity: .8;
        transition: all .4s;
    }

    &:active {
        transform: translateY(6px);
        transition: all .1s;
    }
}

.servicios__2 {
    margin: 2rem;

    .mapa {

        .mapa__iframe {
            border: 3px solid $verde-2;
        }
    }

    .titulo__h3--style {
        font-size: 2.4rem;
        margin: 4rem 0;
        padding: .7rem;
        background-color: $verde-2;
        color: $blanco;
        border: 3px solid $verde-1;
    }

    .asesoria__formulario {

        .formulario {
            background: linear-gradient(to right, #093028, #237a57);
            color: $blanco;
            border: 3px solid $negro;
            width: $medio - 5%;
            margin: auto;
            padding: 2rem;

            label,
            select,
            option,
            input {
                font-size: 1.8rem;
                padding: .6rem;
            }

            .form-check-label:hover {
                cursor: pointer;
                opacity: .8;
            }

            .form-check-input {
                position: relative;
                margin-right: .4rem;
            }

            .boton__solicitar {
                text-align: center;

                #boton__enviar {
                    background-color: $blanco;
                    color: $negro;
                    font-size: 1.65rem;
                    border: 3px solid $verde-2;
                }

                #boton__enviar:hover {
                    opacity: .8;
                    transform: translateY(-.4rem);
                    transition: transform .7s;
                }
            }
        }
    }

    .design__gallery {

        .gallery__item {
            margin: 1rem 0;
            padding: 0 1rem;

            img {
                width: $completo;
                outline: 3px solid $verde-2;
                height: $h-250 + 15px;
                object-fit: cover;
            }

            img:hover {
                cursor: pointer;
                outline: 4px solid $terracota;
                opacity: .8;
                transform: scale(1.04, 1.04);
                transition: opacity .45s, transform .55s;
            }
        }
    }
}

/* ESTILOS SOBRE-NOSOTROS */

.video__container {
    max-width: $completo;
    max-height: $completo;
    text-align: center;
    margin: 0;

    .video--style {
        max-width: 80vw;
        max-height: 80vh;
    }
}

.subtitulo {
    margin: 5rem 0 3rem 1.5rem;

    &__h2 {
        display: inline;
        border-bottom: 3px solid $terracota;
        font-size: 2.3rem;
    }
}

.accordion {
    margin-top: 2rem;

    .card-header {
        border: 1px solid $rojo-oscuro;
    }

    .card-body {
        font-size: 1.7rem;
    }

    .btn {
        color: $terracota;
        font-size: 2rem;
    }

}

/* ESTILOS CONTACTO */

.titulo__h2--style {
    margin: 6rem 0;
    padding: .8rem;
    font-size: 2.3rem;
    text-align: center;
    background-color: $verde-2;
    color: $blanco;
}

.container__formulario {
    width: $medio;
    margin: auto;
    padding: 0;
    text-align: center;

    #boton__enviar {
        background-color: $verde-2;
        color: $blanco;
        font-size: 1.65rem;
        border: 3px solid $gris;
    }

    #boton__enviar:active {
        background-color: $verde-2;
        border: 3px solid $gris;
        box-shadow: none;
        transform: translateY(6px);
        transition: all .3s;
    }

    label,
    input,
    select,
    textarea {
        font-size: 1.8rem;
    }

    option {
        font-size: 1.4rem;
    }

    .form-check-input {
        position: relative;
        margin: 1rem;
    }
}