/* MEDIA QUERIES */

@media only screen and (min-width: 1820px) {
    * {
        font-size: 110%;
    }
    body {
        .cabecera {
            .cabecera__logo {
                width: 9.5rem;
                height: 7rem;
            }
        }
    }
}

@media only screen and (min-width: 1400px) and (max-width: 1820px) {
    * {
        font-size: 76%;
    }
    .carousel {
        .carousel__texto {
            .carousel__parrafo {
                .btn {
                    width: auto;
                }
            }
        }
    }
    body {
        .cabecera {
            .cabecera__logo {
                width: 10rem;
                height: 7.5rem;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
    .asesoria__formulario {
        #formulario {
            width: 65%;
        }
    }
    body {
        .cabecera {
            .nav__lista {
                width: 100%;
                flex-direction: row;
                justify-content: flex-end;
            }
        }
    }
    .contacto {
        .formulario {
            margin-top: 2rem;
        }
    }
    .carousel {
        .carousel-item {
            img {
                height: 100%;
            }
        }
        .carousel__texto {
            .carousel__titulo {
                font-size: 2.2rem;
            }
            .envio {
                .envio__a {
                    font-size: 1.4rem;
                }
                .envio__b {
                    font-size: 1.3rem;
                }
            }
            .carousel__parrafo {
                .carousel__p {
                    font-size: 1.35rem;
                    .carousel__enlace {
                        font-size: 1.15rem;
                    }
                    .compra-ya {
                        font-size: 1.15rem;
                    }
                    .tyc {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    body {
        .cabecera {
            .nav__lista {
                justify-content: flex-end;
                .dropdown {
                    .servicios--syle {
                        font-size: 1.3rem;
                    }
                }
                .lista__item {
                    a {
                        font-size: 1.3rem;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 768px) {
    body {
        .producto__container {
            .producto {
                .precio__container {
                    flex-direction: column;
                }
            }
        }
        .footer__main {
            .marca {
                .copy {
                    display: block;
                    text-align: center;
                    .marca__copy {
                        top: 0;
                    }
                }
            }
        }
    }
    .principal {
        .css-typing h1 {
            font-size: 5.5rem;
        }
    }
    #noticias {
        padding: 0 4.5rem;
        .seccion__imagen {
            width: 100%;
        }
        .seccion__texto {
            .seccion__titulo {
                font-size: 2.2rem;
            }
            .seccion__parrafo {
                font-size: 1.4rem;
            }
        }
    }
    .asesoria__formulario {
        #formulario {
            width: 80%;
        }
    }
}

@media only screen and (max-width:700px) {
    .principal {
        .css-typing h1 {
            font-size: 5rem;
        }
    }
}

@media only screen and (max-width: 635px) {
    body {
        .producto__container {
            .producto {
                .producto__inferior {
                    .titulo {
                        .producto__titulo {
                            font-family: 'poppins';
                            font-size: 2.2rem;
                        }
                    }
                }
                .precio__container {
                    flex-direction: column;
                    .precio {
                        font-family: 'poppins';
                        font-size: 1.75rem;
                    }
                }
            }
        }
        .texto__carrito {
            font-family: 'poppins';
            font-size: 1.9rem;
        }
        .footer__main {
            .redes {
                margin-bottom: 2rem;
            }
            .marca {
                .copy {
                    margin-bottom: 2rem;
                }
            }
        }
    }
    .principal {
        .css-typing h1 {
            font-size: 4.5rem;
        }
    }
    #noticias {
        padding: 0 3rem;
        .seccion__imagen {
            .seccion__imagen--style {
                width: 70vw;
            }
        }
    }
    .contacto {
        .formulario__info {
            .formulario__texto {
                .texto__contacto {
                    .correo {
                        .correo__enlace {
                            font-size: 1.3rem;
                        }
                    }
                    .numero {
                        .numero__enlace {
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 575px) {
    body {
        .producto__container {
            .producto {
                .producto__inferior {
                    .titulo {
                        .producto__titulo {
                            font-family: 'poppins';
                            font-size: 2.2rem;
                        }
                    }
                }
                .precio__container {
                    flex-direction: column;
                    .precio {
                        font-family: 'poppins';
                        font-size: 1.75rem;
                    }
                }
            }
        }
        .texto__carrito {
            font-family: 'poppins';
            font-size: 1.9rem;
        }
        .footer__main {
            .redes {
                margin-bottom: 2rem;
            }
            .marca {
                .copy {
                    margin-bottom: 2rem;
                }
            }
        }
    }
    .principal {
        .css-typing h1 {
            font-size: 4rem;
        }
    }
    #noticias {
        padding: 0 3rem;
        .seccion__imagen {
            .seccion__imagen--style {
                width: 70vw;
            }
        }
    }
    .contacto {
        .formulario__info {
            .formulario__texto {
                .texto__contacto {
                    .correo {
                        .correo__enlace {
                            font-size: 1.3rem;
                        }
                    }
                    .numero {
                        .numero__enlace {
                            font-size: 1.3rem;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width:430px) and (max-width:535px) {
    body {
        .nav__lista {
            .dropdown {
                display: flex;
                flex-direction: column;
            }
            .dropdown-menu {
                width: 100%;
            }
            .dropdown-item {
                font-size: 1.28rem;
            }
        }
        .producto__container {
            .producto {
                .precio__container {
                    flex-direction: column;
                }
            }
        }
        .footer__main {
            .marca {
                .copy {
                    display: block;
                    text-align: center;
                    .marca__copy {
                        top: 0;
                    }
                }
            }
        }
    }
    .banner {
        #titulo__banner--size {
            font-size: 3.5rem;
        }
        .banner__imagen {
            width: 100%;
            object-fit: cover;
        }
    }
    .titulo {
        .titulo__h1 {
            font-size: 3rem;
        }
    }
    .noticias__titulo {
        .noticias__titulo--style {
            font-size: 2.5rem;
        }
    }
    .seccion__parrafo {
        .seccion__parrafo--style {
            font-size: 1.8rem;
        }
    }
    .container__formulario {
        margin: 3rem;
        width: 88%;
        #boton__enviar {
            font-size: 1.4rem;
        }
        label,
        input,
        select,
        textarea,
        option {
            font-size: 1.2rem;
        }
    }
    .asesoria__formulario {
        #formulario {
            width: 90%;
        }
    }
    .contenedor__404 {
        height: 75vh;
        .error {
            height: 300px;
            .error--style {
                color: $blanco;
                font-size: 20rem;
            }
        }
        .titulo {
            margin: 0;
            .titulo__principal,
            .pregunta {
                font-size: 4rem;
                color: $blanco;
            }
        }
    }
}

@media only screen and (min-width: 396px) and (max-width:430px) {
    body {
        .nav__lista {
            .dropdown {
                display: flex;
                flex-direction: column;
            }
            .dropdown-menu {
                width: 100%;
            }
            .dropdown-item {
                font-size: 1.28rem;
            }
        }
        .producto__container {
            .producto {
                .precio__container {
                    flex-direction: column;
                }
            }
        }
        .footer__main {
            .marca {
                .copy {
                    display: block;
                    text-align: center;
                    .marca__copy {
                        top: 0;
                    }
                }
            }
        }
    }
    #noticias {
        .seccion__texto {
            .seccion__parrafo {
                font-size: 1.55rem;
            }
        }
    }
    .banner {
        #titulo__banner--size {
            font-size: 3rem;
        }
        .banner__imagen {
            width: 100%;
            object-fit: cover;
        }
    }
    .titulo {
        .titulo__h1 {
            font-size: 2.6rem;
        }
    }
    .noticias__titulo {
        .noticias__titulo--style {
            font-size: 2rem;
        }
    }
    .seccion__parrafo {
        .seccion__parrafo--style {
            font-size: 1.6rem;
        }
    }
    .container__formulario {
        margin: 3rem;
        width: 85%;
        #invalidCheck {
            width: 80px;
            height: 16px;
        }
        #boton__enviar {
            font-size: 1.4rem;
        }
        label,
        input,
        select,
        textarea,
        option {
            font-size: 1.3rem;
        }
    }
    .asesoria__formulario {
        #formulario {
            width: 100%;
        }
    }
    .contenedor__404 {
        height: 75vh;
        .error {
            height: 250px;
            .error--style {
                color: $blanco;
                font-size: 16rem;
            }
        }
        .titulo {
            margin: 0;
            .titulo__principal,
            .pregunta {
                font-size: 3rem;
                color: $blanco;
            }
        }
    }
}

@media only screen and (max-width:396px) {
    * {
        font-size: 55%;
    }
    .banner {
        #titulo__banner--size {
            font-size: 2.8rem;
        }
    }
    body {
        .producto__container {
            .producto {
                .producto__inferior {
                    .titulo {
                        .producto__titulo {
                            font-family: 'poppins';
                            font-size: 1.8rem;
                        }
                    }
                }
                .precio__container {
                    flex-direction: column;
                    .precio {
                        font-family: 'poppins';
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .texto__carrito {
            font-size: 1.8rem;
        }
        .cabecera {
            display: flex;
        }
        .nav__lista {
            .dropdown {
                display: flex;
                flex-direction: column;
            }
            .dropdown-item {
                white-space: normal;
            }
            .dropdown-menu {
                width: 100%;
            }
        }
        .footer__main {
            .marca {
                .copy {
                    display: block;
                    text-align: center;
                    .marca__copy {
                        top: 0;
                    }
                }
            }
        }
    }
    .servicios__2 {
        .asesoria__formulario {
            .formulario {
                width: 100%;
            }
        }
    }
    #noticias {
        padding: 0;
        .seccion__imagen {
            .seccion__imagen--style {
                width: 80vw;
            }
        }
        .seccion__parrafo {
            display: none;
        }
    }
    .titulo {
        .titulo__h1 {
            font-size: 3.2rem;
        }
    }
    .contacto {
        .formulario__info {
            .formulario__texto {
                .texto__titulo {
                    font-size: 2.5rem;
                }
                .texto__parrafo {
                    font-size: 1.65rem;
                }
            }
            .formulario__texto {
                .texto__contacto {
                    flex-direction: column;
                    .numero {
                        margin: 1rem;
                        .numero__enlace {
                            font-size: 1.5rem;
                        }
                    }
                    .correo {
                        margin: 1rem;
                        .correo__enlace {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:295px) {
    .titulo {
        .titulo__h1 {
            font-size: 2.5rem;
        }
    }
    .contacto {
        .formulario {
            padding: 0;
        }
        .formulario__info {
            .formulario__texto {
                .texto__titulo {
                    font-size: 2rem;
                }
                .texto__contacto {
                    .correo__enlace {
                        font-size: 1rem;
                    }
                    .numero__enlace {
                        font-size: 1rem;
                    }
                }
            }
        }
    }
}